@charset "UTF-8";

/*公共标题*/
.pubTitle{ padding-top:40px; padding-bottom: 30px;}
.pubTitle h1{ font-size: 26px; line-height:26px;}
.pubTitle p{ font-size: 16px;text-transform:uppercase;padding-bottom: 10px;}
/*公共标题*/


/* 核心产品 */
.indx-sharebox ul{display: flex; justify-content: space-around; flex-wrap: nowrap;}
.indx-sharebox li{ width: 22%;padding:15px 10px;/* margin-bottom: 20px; */box-sizing: border-box;}
.indx-sharebox li a{width: 100%; height: 100%;display: block; color: #fff;}
.indx-sharebox li .icon{  width: 70px; height: 70px; display: block;margin: 0 auto; transition: all 0.5s;}
.indx-sharebox li h1{ font-size: 18px;padding-top: 30px; line-height: 40px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.indx-sharebox li p{ font-size: 13px;  padding-top: 10px;}
/* .indx-sharebox li:hover{background: #00a6ff; #005b8c36border-radius: 3px; box-shadow: 0 0 15px rgba(9, 145, 197, 0.4);} */
.indx-sharebox li:hover{background-image: linear-gradient(to top, #37b9f0 , #2187de);}
.indx-sharebox li:nth-of-type(3):hover{background: #0397e6;}
.indx-sharebox li:hover h1,.indx-sharebox li:hover p{color:#c8ffb4;}
.indx-sharebox li:hover .icon{transform: scale(1.1);}

/* 典型案例 */
.index_casePic{}
.index_casePic>div .text{position: absolute; bottom: 0;left: 0; width: 100%; line-height: 40px;padding: 0 10px;box-sizing: border-box;background:rgba(0,0,0,0.5); color: #fff;}
.index_casePic>div img{width: 100%; height: 100%; transition: all 2s;}
.index_casePic>div img:hover{ transform: scale(1.1);}
.index_casePic .onePic{ width: 751px; height: 432px; margin-right: 10px;
	position:relative;
	animation:myOnePic 1.5s;
	-moz-animation:myOnePic 1.5s; /* Firefox */
	-webkit-animation:myOnePic 1.5s; /* Safari and Chrome */
	-o-animation:myOnePic 1.5s;
}
.index_casePic .onePic .text{line-height: 50px;}
.index_casePic .twoPic .item{width: 363px; height: 211px;	
	position:relative;
	animation:myTwoPic 1.5s;
	-moz-animation:myTwoPic 1.5s; /* Firefox */
	-webkit-animation:myTwoPic 1.5s; /* Safari and Chrome */
	-o-animation:myTwoPic 1.5s;
}
.index_casePic .twoPic .item:first-child{margin-bottom: 10px;}
@keyframes myOnePic{
	from {left:-100%;}
	to {left:0;}
}

@-webkit-keyframes myOnePic {
	from {left:-100%;}
	to {left:0;}
}

@keyframes myTwoPic{
	from {right:-100%;}
	to {right:0;}
}

@-webkit-keyframes myTwoPic {
	from {right:-100%;}
	to {right:0;}
}

/* 环太聘 */
.index_employ{overflow: hidden;}
.index_employ .bjPic{ width: 100%; height: 345px; display: block;}
.index_employ .cont{position: absolute; left: 50%; top: 50%;transform: translate(-50%,-50%); width: 100%;}
.index_employ .Ltit{width: 102px; height: 102px; display: block; margin-right: 15px;}
.index_employ .Rlink:hover{ color: #75d7ff;}

/****************** 首页end ******************/

@media screen and ( max-width:750px){ 
	
	.pubTitle{ padding: 30px 0 10px 0;}
	.pubTitle h1{ font-size: 18px; }
	.pubTitle p{ font-size: 14px;padding-bottom: 0;}
	
	/* 核心产品 */
	.indx-sharebox ul{display: flex; justify-content: space-around; flex-wrap: wrap;}
	.indx-sharebox li{ width: 50%;}
	.indx-sharebox li .icon{  width: 50px; height: 50px;}
	.indx-sharebox li h1{ font-size:15px;padding:10px 0 5px 0; line-height: 26px;}
	.indx-sharebox li p{ font-size: 12px;padding-top: 0px;}
	
	.index_casePic{ flex-wrap: wrap;}
	.index_casePic .onePic{width: 100%; height: auto; margin-right: 0; margin-bottom: 10px;}
	.index_casePic .twoPic .item{width: 100%; height: auto;}
	
	.index_employ img.Ltit{width: 55px; height: 55px;}
	.index_employ .cont .flex{justify-content: center;}
	.index_employ .text { font-size: 15px; margin-top: 0; line-height: 24px;}
	.index_employ .cont .flexEnd{ justify-content: center; margin-top: 20px;}
	.index_employ .cont .flexEnd .Rlink{ font-size: 14px;}
		
	
}


