<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>精品案例</title>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="font/iconfont.css">
		<link rel="stylesheet" type="text/css" href="css/page.css">
		<link rel="stylesheet" type="text/css" href="css/mainInFor.css">
		<link rel="stylesheet" type="text/css" href="css/fx_rightBtn.css">
		<link rel="stylesheet" type="text/css" href="css/wxParse.css">
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
	</head>

	<body>
		<div id="app">
			<!-- 网站导航 -->
			<div class="pubHeader">
				<include src="header.html"></include>
			</div>

			<div class="topSamllBan">
				<img class="bjPic" :src="labelData.mainImg&&labelData.mainImg[0]?labelData.mainImg[0].url:''" alt="">
			</div>
			
			<!-- 网站页面导航 -->
			<div class="bg-1" v-if="!currentCase.title">
				<div class="borderB1 pdtb10">
					<div class="w1200 flex color6">
						<img src="images/vproductCenter-icon2.png" >
						<a class="mglr10" href="index.html">首页</a>/<a class="mglr10 pubcolor">精品案例</a>
					</div>
				</div>
				<div class="w1200 oh">
					<div v-for="(item,index) in mainData">
						<div class="pr flex">
							<div class="anliLit mgtb30">{{item.title}}</div>
							<div class="xian"></div>
						</div>
						<div class="caseList">
							<ul>
								<li v-for="(c_item,c_index) in item.article">
									<a @click="goDetail(index,c_index)">
										<div class="pic">
											<img :src="c_item.mainImg&&c_item.mainImg[0]?c_item.mainImg[0].url:''"/>
										</div>
										<p class="flex tit color6 "><em class="avoidOverflow2">{{c_item.title}}</em></p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div  v-if="currentCase.title">
				<div class="borderB1 pdtb10">
					<div class="w1200 flex color6">
						<img src="images/vproductCenter-icon2.png" >
						<a class="mglr10" href="index.html">首页</a>/<a class="mglr10" @click="goback">精品案例</a>/<span class="mglr10 pubcolor">{{currentCase.title}}</span>
					</div>
				</div>
				<div class="w1200 oh">
					<div class="main-leftNav fl">
						<div class="title center">
							<img class="icon" src="images/case-icon.png" alt="">
							<h1 class="tt ftw">精品案例</h1>
						</div>
						<div class="selnav oh">
							<template v-for="(item,index) in leftNavData">
								<a :class="current==index?'on':''" @click="change(index)" >{{item.title}}</a>
							</template>
						</div>
					</div>
					<div class="main-rightCont fr pdb40">
						<div class="mainXqTit center">
							<span class="tit fs20">{{currentCase.title}}</span>
						</div>
						<div class="mainXqInfor color6">
							<div class="content ql-editor " style="clear: both;">
								<p class="p1 " v-html="currentCase.content"></p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- 侧边栏按钮 -->
			<div class="fx_rightBtn">
				<div class="btnList">
					<div class="item">
						<span class="icon iconOne"></span>
						<div class="contInfor">
							<a class="kefubox" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=125192878&site=qq&menu=yes">
								<img style="width: 119px; height: 138px; display: block;" src="images/product_center-img2.png" >
							</a>
						</div>
					</div>
					<div class="item">
						<span class="icon iconTwo"></span>
						<div class="contInfor pdr10">
							<div class="twoPhone white">
								<p class="pdb5">环太物联</p>
								<h2 class="fs20">029-85391630</h2>
								<p class="fs12">wangpan@huan-tai.com</p>
							</div>
						</div>
					</div>
					<div class="item">
						<span class="icon iconThree"></span>
						<div class="contInfor pdr10">
							<div class="threeEwm white">
								<img src="images/product_center-img3.png" >
							</div>
						</div>
					</div>
					<div class="item" @click="backTop">
						<span class="icon iconFour"></span>
					</div>
					
				</div>
			</div>
			
			<include src="footer.html"></include>
		</div>
	</body>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					is_toggle: false,
					mainData:[],
					leftNavData:[],
					current:0,
					currentCase:{},
					labelData:{}
				}
			},
			created: function() {
				var self = this;
				window.onload = function() {

					/* window.base.bus.$emit('to_contentOne', {
						paginate: self.paginate
					}); */
					//window.base.bus.$emit('to_swiper',{mainData:self.teacherData});

				};
				self.getMainData()
				self.getLabelData()
			},
			methods: {
				
				getLabelData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						title:'精品案例'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.labelData = res.info.data[0]
						} 
					};
					window.base.labelGet(postData, callback);
				},
				
				goback(){
					const self = this;
					self.currentCase = {}
				},
				backTop(){
					document.body.scrollTop = 0
					document.documentElement.scrollTop = 0
				},
				change(index){
					var self = this;
					self.current = index
					self.currentCase = self.leftNavData[index]
				},
				
				goDetail(index,c_index){
					const self = this;
					self.currentCase = self.mainData[index].article[c_index];
					for (var i = 0; i < self.leftNavData.length; i++) {
						if(self.leftNavData[i].title==self.mainData[index].article[c_index].title){
							self.current = i
						}
					}
				},
				
				getMainData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2
					};
					postData.getBefore = {
						caseData: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['精品案例']],
							},
							middleKey: 'parentid',
							key: 'id',
							condition: 'in',
						},
					};
					postData.getAfter = {
						article: {
							tableName: 'Article',
							searchItem: {
								status: 1
							},
							middleKey: 'id',
							key: 'menu_id',
							condition: 'in',
							order:{
								listorder:'desc'
							}
						},
					};
					postData.order = {
						listorder: 'desc'
					}
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.mainData.push.apply(self.mainData, res.info.data);
							for (var i = 0; i < self.mainData.length; i++) {
								for (var j = 0; j < self.mainData[i].article.length; j++) {
									self.leftNavData.push(self.mainData[i].article[j])
								}
							}
							if(window.base.GetRequest().id){
								for (var i = 0; i < self.leftNavData.length; i++) {
									if(self.leftNavData[i].id==window.base.GetRequest().id){
										self.currentCase = self.leftNavData[i];
										self.current = i
									}
								}
							}
						}
					};
					window.base.labelGet(postData, callback);
				},


			}
		});
	</script>
<style>

.bg-1{ background: #F5F5F5;}
.xian{ width: 100%; height: 1px; background: #EEEEEE; position: absolute; top: 50%;left: 0; transform: translateY(-50%); z-index: 0;}
.anliLit{line-height: 18px;padding-left: 10px; padding-right: 10px;border-left:5px solid #0071C5;font-size: 18px; background: #F5F5F5;  position: relative; background: #F5F5F5;z-index: 1;}

.caseList ul{ display: flex;flex-wrap: wrap;}
.caseList li{width:32%; height: 330px; margin-right: 2%;background: #fff; margin-bottom: 30px; overflow: hidden;}
.caseList li:nth-of-type(3n){margin-right: 0;}
.caseList li .pic{width: 100%; height:80%; overflow: hidden; }
.caseList li .pic img{width: 100%; height: 100%;transition: all 2s; display: block;}
.caseList li .tit{margin: 10px;box-sizing: border-box; height:44px;}
.caseList li .pic:hover img{ transform: scale(1.1);}
.caseList li:hover  .tit{ color: #0071C5;}

@media screen and ( max-width:1100px){
	.caseList li{height: 254px;}
	.caseList li .pic{height: 68%;}
}

@media screen and ( max-width:500px){
	.anliLit{margin: 20px 0;}
	.caseList li{width: 49%; height: 206px;}
	.caseList li:nth-of-type(2n){margin-right: 0;}
	.caseList li:nth-of-type(3n){margin-right:inherit;}
}


</style>

</html>
