<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>环太物联</title>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<link type="text/css" rel="stylesheet" href="font/iconfont.css">
		<link rel="stylesheet" type="text/css" href="css/page.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/fx_rightBtn.css">
		<link rel="stylesheet" type="text/css" href="css/wxParse.css">
		<link rel="stylesheet" href="css/animate/animate.min.css">
		<script src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<script type="text/javascript" src="js/base.js"></script>	
	</head>

	<body ontouchstart="" onmouseover="">
		<div id="app">
			<!-- 网站导航 -->
			<div class="pubHeader">
				<include src="header.html"></include>
			</div>

			<div class="pubHeadBanner">
				<include src="headBanner.html"></include>
			</div>

			<!-- 核心产品 -->
			<div class="pdb60 indx-sharebox center white" style="background-image: linear-gradient(to right, #37b9f0 , #2187de);">
				<div class="pubTitle center">
					<p>Core product</p>
					<h1 class="mgb20">核心产品</h1>
				</div>
				<div class="w1200">
					<ul>
						<li v-for="(item,index) in indshareLis" :key="index">
							<a :href="'proCenter.html?id='+item.id">
								<img class="icon" :src="item.mainImg&&item.mainImg[0]?item.mainImg[0].url:''" alt="">
								<h1>{{item.title}}</h1>
								<p class="avoidOverflow3">{{item.description}}</p>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<!-- 典型案例 -->
			<div class="bjgayf5 pdb60">
				<div class="w1200">
					<div class="pubTitle flexRowBetween mg0" style="width: 94%;">
						<div class="flex">
							<h1 class="fs26">典型案例</h1>
							<p class="fs14 mgt10 mgl10" style="padding-bottom: 0;">classic case</p>
						</div>
						<a href="caseList.html" class="moreTexwrap flexEnd fs14">MORE&gt;</a>
					</div>
				
					<div class="index_casePic flexCenter" id="case">
						<div class="onePic pr oh" v-if="caseData[0]">
							<a :href="'caseList.html?id='+caseData[0].id">
								<img :src="caseData&&caseData[0]&&caseData[0].mainImg&&caseData[0].mainImg[0]?caseData[0].mainImg[0].url:''" alt="">
								<p class="text avoidOverflow">{{caseData&&caseData[0]?caseData[0].title:''}}</p>
							</a>
						</div>
						<div class="twoPic">
							<div class="item pr oh" v-if="caseData[1]">
								<a :href="'caseList.html?id='+caseData[1].id">
									<img :src="caseData&&caseData[1]&&caseData[1].mainImg&&caseData[1].mainImg[0]?caseData[1].mainImg[0].url:''" alt="">
									<p class="text avoidOverflow">{{caseData&&caseData[1]?caseData[1].title:''}}</p>
								</a>
							</div>
							<div class="item pr oh" v-if="caseData[2]">
								<a :href="'caseList.html?id='+caseData[2].id">
									<img :src="caseData&&caseData[2]&&caseData[2].mainImg&&caseData[2].mainImg[0]?caseData[2].mainImg[0].url:''" alt="">
									<p class="text avoidOverflow">{{caseData&&caseData[2]?caseData[2].title:''}}</p>
								</a>	
							</div>
						</div>
					</div>
					<div class="mgt10 center">我们凭借雄厚的技术积淀、专业的解决方案、健全的服务网络以及丰富的产品和厂方资源。成为备受推崇的供应商和值得信赖的合作伙伴。</div>
				</div>
			</div>
			
			<!-- 合作流程 -->
			<div class="index_hezuo pdb60">
				<div class="pubTitle center">
					<h1 class="mgb10">合作流程</h1>
					<p class="color9">强强联合，共享物联网发展红利</p>
				</div>
				<div class="w1200"><img class="w" :src="hezuoData.mainImg&&hezuoData.mainImg[0]?hezuoData.mainImg[0].url:''" ></div>
			</div>
			<div class="pr index_employ">
				<img class="bjPic" src="images/home-img4.jpg" alt="">
				<div class="cont">
					<div class="w1200">
						<div class="white flex">
							<img class="Ltit" src="images/home-img4.1.png" alt="">
							<div class="text mgt20 fs18 line30">
								<p>Pecruitment notices</p>
								<p>环太因你而美好</p>
							</div>
						</div>
						<div class="flexEnd mgt10">
							<a class="white Rlink fs16" href="recruit.html">查看全部在招聘职位&nbsp;&gt;</a>
						</div>
					</div>
				</div>
			</div>
			<div class="pdb60 w1200">
				<div class="pubTitle center fs20">
					<h1 class="">物联共生 合作共赢</h1>
				</div>
				<div class="index_partImg">
					<div class="item" v-for="(item,index) in partnerData.mainImg">
						<img :src="item.url" alt=""></div>
				</div>
			</div>
			
			<!-- 侧边栏按钮 -->
			<div class="fx_rightBtn">
				<div class="btnList">
					<div class="item">
						<span class="icon iconOne"></span>
						<div class="contInfor" style="padding-right: 0;">
							<div class="pr">
								<img class="kefuPhoto" src="images/product_center-img2.png" >
								<a class="kefuBtn" target="_blank" 
								:href="'http://wpa.qq.com/msgrd?v=3&uin='+qqData.description+'&site=qq&menu=yes'">客服一</a>
								<a class="kefuBtn kefuTwo" target="_blank" 
								:href="'http://wpa.qq.com/msgrd?v=3&uin='+qqData.url+'&site=qq&menu=yes'">客服二</a>
							</div>
						</div>
					</div>
					<div class="item">
						<span class="icon iconTwo"></span>
						<div class="contInfor pdr10">
							<div class="twoPhone white">
								<p class="pdb5">环太物联</p>
								<h2 class="fs20">{{conactData.phone}}</h2>
								<p class="fs12">{{conactData.email}}</p>
							</div>
						</div>
					</div>
					<div class="item">
						<span class="icon iconThree"></span>
						<div class="contInfor pdr10">
							<div class="threeEwm white">
								<img src="images/product_center-img3.png" >
							</div>
						</div>
					</div>
					<div class="item" @click="backTop">
						<span class="icon iconFour"></span>
					</div>
					
				</div>
			</div>
			
			<include src="footer.html"></include>
		</div>
	</body>

	<script type="text/javascript">
		
		/* $('#case').waypoint(function() {
		  $("#case").addClass('animated slideInUp');
		  $("#case").css('opacity','1');
		}, { offset: '70%' }); */
		
		var app = new Vue({
			el: '#app',
			data: function() {
				return {
					is_toggle: false,
					indshareLis: [],
					mainData:[],
					caseData:[],
					caseLabelData:[],
					caseId:[],
					hezuoData:{},
					imgLisDate:[{},{},{},{},{},{},{}],
					partnerData:{},
					conactData:{},
					qqData:{}
				}
			},
			created: function() {
				var self = this;
				window.onload = function() {

					/* window.base.bus.$emit('to_contentOne', {
						paginate: self.paginate
					}); */
					window.base.bus.$emit('to_headBanner', {
						title:'首页轮播图'
					});	
					//window.base.bus.$emit('to_swiper',{mainData:self.teacherData});

				};
				var mobileHover = function () {
				    $('*').on('touchstart', function () {
				        $(this).trigger('hover');
				    }).on('touchend', function () {
				        $(this).trigger('hover');
				    });
				};
				//self.getMainData()
				self.getProductData();
				self.getCaseLabelData();
				self.getHezuoLabelData();
				self.getPartnerData();
				self.getqqData()
			},
			methods: {
				
				getqqData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						title:'客服'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.qqData = res.info.data[0]		
						} 
					};
					window.base.labelGet(postData, callback);
				},
				
				goDetail(id){
					window.base.location
				},
				
				backTop(){
					document.body.scrollTop = 0
					document.documentElement.scrollTop = 0
				},
				getProductData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2
					};
					postData.getBefore = {
						caseData: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['产品中心']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					postData.paginate={
						count: 0,
						currentPage: 1,
						pagesize: 4,
						is_page: true,
					},
					postData.order={
						listorder:'desc'
					}
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.indshareLis.push.apply(self.indshareLis,res.info.data)
						} 
						self.getConactData()
					};
					window.base.articleGet(postData, callback);
				},
				
				getCaseLabelData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2
					};
					postData.getBefore = {
						caseData: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['精品案例']],
							},
							middleKey: 'parentid',
							key: 'id',
							condition: 'in',
						},
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.caseLabelData.push.apply(self.caseLabelData,res.info.data)
							for (var i = 0; i < self.caseLabelData.length; i++) {
								self.caseId.push(self.caseLabelData[i].id)
							}
							self.getCaseData()
							console.log(self.caseId)
						} 
					};
					window.base.labelGet(postData, callback);
				},
				
				getHezuoLabelData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						title:'合作流程'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.hezuoData = res.info.data[0]		
						} 
					};
					window.base.labelGet(postData, callback);
				},
				
				getPartnerData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						title:'合作伙伴'
					};
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.partnerData = res.info.data[0]		
						} 
					};
					window.base.labelGet(postData, callback);
				},
				
				getCaseData() {
					const self = this;
					const postData = {};
					postData.searchItem = {
						thirdapp_id: 2,
						menu_id:['in',self.caseId]
					};	
					postData.paginate={
						count: 0,
						currentPage: 1,
						pagesize: 3,
						is_page: true,
					},
					postData.order={
						listorder:'desc'
					}
					const callback = (res) => {
						if (res.info.data.length > 0) {
							self.caseData.push.apply(self.caseData,res.info.data)
						} 
						console.log('self.caseData',self.caseData)
					};
					window.base.articleGet(postData, callback);
				},
				
				getMainData: function(id) {
					var self = this;
					var callback = function(res) {
						console.log('getMainData', res);
						self.mainData.push.apply(self.mainData, res.info.data);
						for (var i = 0; i < self.mainData.length; i++) {
							self[self.mainData[i].title] = self.mainData[i];
						};
						console.log(self['企业公告'])
						
					};
					console.log('self.mainData', self.mainData)
				},
				
				getConactData: function(id) {
					var self = this;
					var postData = {};
					postData.searchItem = {
						thirdapp_id:2,
					};
					postData.getBefore = {
						caseData: {
							tableName: 'Label',
							searchItem: {
								title: ['=', ['联系我们']],
							},
							middleKey: 'menu_id',
							key: 'id',
							condition: 'in',
						},
					};
					var callback = (res) => {
						console.log('打出来', res);
						self.conactData = res.info.data[0];
					};
					window.base.articleGet(postData, callback);
				},


			}
		});
	</script>


</html>
